@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
$link-hover-color:grey !important;
$text-color:gainsboro!important;
* {
  padding: 0;
  margin: 0;

  body {
    font-family: "Roboto", sans-serif;
    background: #111111;
  }

  a,
  a:hover {
    text-decoration: none;
  }
}
//App.Vue Css 
.main {
  padding-top: 125px;
  padding-bottom: 60px;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-enter-active {
  transition: all 0.3s ease-in;
  opacity: 0;
}
.fade-leave-active {
  transition: all 0.7s ease-in-out;
  opacity: 0;
}
.fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}
// Home Css
.all-movies {
  color: #aaaaaa;
  display: flex;
  justify-content: flex-end;

  &::after {
    content: ">";
    color: #aaaaaa;
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
  }
  &:hover{
    color: $link-hover-color;
  }
}
.header-text {
  border-bottom: 3px solid aqua;
  color: #aaaaaa;
}
//AppHeader Components
.bg-dark {
  background: #000000 !important;
}
.navigation {
  a {
    font-size: 17px;

    &:hover {
      color:$link-hover-color ;
    }
  }
}
//BackDropImage.vue Components
.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(30px);
  box-sizing: content-box;
}
//Loader.vue components

.lds-dual-ring {
  width: 60px;
  height: 60px;
  margin: 0 auto;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ddd;
    border-color: #ddd transparent #ddd transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
//Movie.vue Components

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: $text-color;
  font-size: 14px;
}
.card {
  background: #191919;
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%),
    -8px -8px 12px 0 rgb(27 27 27 / 42%);
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $text-color;
    box-sizing: inherit;
  }
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  color: $text-color;
}
small {
  color: $text-color !important;
}
//MovieDetails Components

.details {
  color: $text-color;
}
.back-to-home {
  color: $text-color;
  &::before {
    content: "<";
    margin-right: 2px;
  }
  &:hover{
      color: $link-hover-color ;
  }
}
// Poster.vue Components
.poster{
    width: 100%;
  }

  //Trailer
  iframe{
    width: 100%!important;
    height:300px;
}